doctype html
head
  meta(charset='UTF-8')
  title=title 
  link(href='/css/bootstrap.css' rel='stylesheet')

include components/navbar.pug

script(src='/js/popper.min.js' type='module')
script(src='/js/bootstrap.bundle.min.js' type='module')
