nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    a.navbar-brand(href='/') Express Transporters
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Brands
          ul.dropdown-menu
            li
              a.dropdown-item(href='/brand/create') Create
            li
              a.dropdown-item(href='/brand/view') View
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Trucks
          ul.dropdown-menu
            li
              a.dropdown-item(href='/truck/create') Create
            li
              a.dropdown-item(href='/truck/view') View
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Employees
          ul.dropdown-menu
            li
              a.dropdown-item(href='/employee/create') Create
            li
              a.dropdown-item(href='/employee/view') View
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Driver
          ul.dropdown-menu
            li
              a.dropdown-item(href='/driver/create') Create
            li
              a.dropdown-item(href='/driver/view') View 
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Mechanic
          ul.dropdown-menu
            li
              a.dropdown-item(href='/mechanic/create') Create
            li
              a.dropdown-item(href='/mechanic/view') View
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Repair
          ul.dropdown-menu
            li
              a.dropdown-item(href='/repair/create') Create
            li
              a.dropdown-item(href='/repair/view') View
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') Customer
          ul.dropdown-menu
            li
              a.dropdown-item(href='/customer/create') Create
            li
              a.dropdown-item(href='/customer/view') View
        